html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: rgb(190, 232, 176); */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: rgb(190, 232, 176); */
}

.App-link {
  color: #61dafb;
}

.navBar {
  width: 100%;
  align-items:left;
  display:flex;
  background-color: rgb(174, 174, 174);
}

#mainContent {
  width: 100%;
  height: 100vh;
}

#form {
  display: flex;
  justify-content: center;

}

.formItem {
  margin: 5px 5px;
}

#submitBtn input {
  background-color: black;
  color: white;
  outline-color: black !important;
  border-radius: .25rem;
}

#chartdiv {
  height: 70%;
}

#footer {
  font-size: 20px;
  padding-top: 15px; 
  width: 100%; 
  background-color: grey; 
  color: black; 
  text-align: center;
}

#footer p {
  margin: 0;
  padding-bottom: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
