html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #272645;
}

.App-link {
  color: #61dafb;
}

#nav-logo {
  width:27px;
  margin-right:8px;
  margin-bottom:3px;
}
.navBar {
  width: 100%;
  align-items:left;
  display:flex;
  color: white !important;
  background-color: #272645 !important;/*rgb(174, 174, 174);*/
}

.navBar a {
   color: white !important;
}

.fa-link {
  color:  #AFB5D3;
  font-size: 20px;
}

.fa-home {
  color: #AFB5D3;
}

#form-error {
  color: #AFB5D3;
  padding-top: 5px;
}

#modalBtnClose {
  background-color: #272645;
  border-color: #272645;
}

.modal-body p, li {
  font-size: 20px;
  text-align: left;
}

#mainHomeContent {
  width: 100%;
  height: 100vh;
  background-color: #272645;
  color: white;
}

#mainKeywordContent {
  background-color: #272645;
  color: #AFB5D3; 
}

#form {
  display: flex;
  justify-content: center;
}

.formItem {
  margin: 5px 5px;
}

#submitBtn input {
  background-color: black;
  color: white;
  outline-color: black !important;
  border-radius: .25rem;
}

#chartdiv {
  height: 70%;
}

#pieChart {
  height: 70% !important;
}

.row-1 {
  margin: 0 4%;
  background-color: #30304D;
  border-radius: 6px;
}

#left, #right {
  border-radius: 6px;
  background-color: #30304D;
  height: 100%;
}

.row {
  height: 50vh;
}

.pieChart {
  height: 50% !important;
  background-color: red !important;
}

#lineGraph {
  width: 100%;
  height: 50vh;
}

#scrollable {
  overflow: scroll;
  height: 88%;
  scrollbar-width: thin;
  scrollbar-color: #1d1d2e #30304D;
  /* height: 35vh;
  overflow: scroll;
  margin: 0 20px; */
}

.title {
  text-align: left;
  padding: 5px 0;
}

.badge {
  margin: 0 5px !important;
}

#footer {
  font-size: 20px;
  padding-top: 15px; 
  width: 100%; 
  background-color:  #272645; 
  color: white; 
  text-align: center;
}

#error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #272645; 
  color: #AFB5D3; 
  width: 100%; 
  height: 90vh;
}

#footer p {
  margin: 0;
  padding-bottom: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
